.button {
  background: #655dff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  font-family: "Inter", sans-serif, Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 16px 32px !important;
  margin: 0;
  &.cta-button {
    letter-spacing: 0px;
    color: #655dff;
    a {
      color: #655dff !important;
    }
  }
  &.transparent-blue-border-button {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #655dff;
  }
  &.fill-bg {
    a {
      @extend .button;
      padding: 0 !important;
      color: #ffffff !important;
    }
  }
}
